@model leave_management.Models.AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center" ">
                <h1 class="card-title">@Model.TotalRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(modelItem => Model.TotalRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center text-warning">
                <h1 class="card-title">@Model.PendingRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(modelItem => Model.PendingRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center text-success">
                <h1 class="card-title">@Model.ApprovedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(modelItem => Model.ApprovedRequests)</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center text-danger">
                <h1 class="card-title">@Model.RejectedRequests</h1>
                <h5 class="card-text">@Html.DisplayNameFor(modelItem => Model.RejectedRequests)</h5>
            </div>
        </div>
    </div>
</div>

<h1>Leave Request Log</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                From
            </th>
            <th>
                to
            </th>
            <th>
                Leave type
            </th>
            <th>
                Rate Requested
            </th>
            <th>
                Date Actioned
            </th>
            <th>
                Approval status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateActioned)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                </td>
                <td>
                    <a href="/LeaveRequest/Details/@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
